# workbench
*~
/.idea
/sandbox
/doc/Makefile

# git & tools
*.orig


# python
/.env
/.tox
/build
/dist/
.pytest_cache/
/.eggs/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
.coverage


# sphinx doc
doc/api/
doc/build/
doc/doctest/


# demo
/demo/btrfs.img
/demo/backups
