name: Test

on:
  pull_request:
  push:
    branches: "**"
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        python: ['3.13']
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}
    - name: Install test dependencies
      run: python -m pip install -U tox
    - name: Test
      run: |
        python -m tox
        python -m tox -e demo
